<div class="wrapper" fxLayoutAlign="center center">
  <app-loading-overlay [isLoading]="loading"></app-loading-overlay>

  <mat-card class="mat-elevation-z6 min-height"
            ngClass.xs="full-height"
            fxFlex.xs="1 1 auto" fxFlex.gt-xs="0 0 420px"

            fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="32px">

    <mat-card-title class="text-center">identify yourself</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onAuthenticate($event)" fxLayout="column" >

      <!-- username -->
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="24px">
        <div fxFlex></div>
        <mat-form-field fxFlex="1 1 auto">
          <input tabindex="1" matInput formControlName="username"  placeholder="username" required>
        </mat-form-field>
        <button fxFlex="0 0 auto" type="button" mat-button mat-icon-button (click)="onPasswordLost()"><i class="material-icons">person_add</i></button>
        <div fxFlex fxHide.gt-xs></div>
      </div>

      <!-- password -->
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="24px">
        <div fxFlex></div>
        <mat-form-field fxFlex="1 1 auto">
          <input tabindex="2" matInput formControlName="password" type="password" placeholder="Your password" required>
        </mat-form-field>
        <button fxFlex="0 0 auto" type="button" mat-button mat-icon-button (click)="onPasswordLost()"><i class="material-icons">help_outline</i></button>
        <div fxFlex fxHide.gt-xs></div>
      </div>

      <mat-checkbox *ngIf="false" formControlName="agreeWithTerms" required>I agree with the <a href="assets/pdf/terms.pdf" target="_blank">terms & conditions</a>.</mat-checkbox>

      <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="24px">
        <p *ngIf="error" class="text-center warn">
          {{ error }}
        </p>
      </div>

      <div fxLayoutAlign="center" style="margin-top: 32px">
        <button tabindex="3" mat-button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Log in</button>
      </div>

    </form>

    <span fxLayoutAlign="center">
      <i class="material-icons">https</i>
    </span>

  </mat-card>

</div>


