<app-secondary-toolbar [title]="title">
  <div *ngIf="showLeftButton" class="left-button">
    <button mat-icon-button routerLink="..">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>

  <div *ngIf="showRightButton" fxHide.gt-xs class="right-button">
    <button mat-icon-button (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</app-secondary-toolbar>

<div class="content-body" fxLayout="column">

  <mat-card fxFlex="0 1 100%" ngClass.gt-xs="min-height">

    <!-- Desktop only -->

    <mat-card-title fxHide fxShow.gt-xs fxLayout="row" class="card-content-cancel-margins card-padded-content">

      <!-- Title & subtitle -->
      <div fxLayout="column">
        <span class="title">Current users</span>
        <!--span class="subtitle">hello</span-->
      </div>

      <!-- Flex separator -->
      <div fxFlex></div>

      <!-- Create new resolution -->
      <button mat-icon-button (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Overlay menu -->
      <button mat-icon-button [matMenuTriggerFor]="options">
        <mat-icon>more_vert</mat-icon>
      </button>

    </mat-card-title>

    <table class="table table-selectable-rows" [class.table-hover]="true" [class.table-striped]="false" [class.table-condensed]="false" [class.table-bordered]="false">
      <thead>
      <tr>
        <th>username</th>
        <th>roles</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of (usersService.users$ | async)" (click)="onUserRowClicked(entry)">
        <td>{{entry.user}}</td>
        <td>{{ formatRoles(entry) }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </mat-card>

</div>

<mat-menu #options="matMenu">
  <button mat-menu-item disabled>
    <mat-icon> search </mat-icon>
    <span> search... </span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon> archive </mat-icon>
    <span> view archived </span>
  </button>
</mat-menu>
