@import "variables";

// example: see login component
.wrapper{
  display: block;
  width: 100vw;
  height: 100vh;
}

////////////////////////////////////////////////
// material helper classes /////////////////////

mat-card{
  &.min-height{
    min-height: 66vh;
  }

  &.full-height{
    height: 100%;
  }

  // Suppress the card's padding - i.e. to include a header with background covering full width and height to border
  &.card-no-padding{
    padding: 0;
  }

  // Child item ignores the parent card's margins - ideal for a header that covers it all
  > .card-content-cancel-margins{

    margin-top: -24px!important;
    //margin-bottom: 24px;

    margin-left: -16px;
    margin-right: -16px;

    @media (min-width: $MOBILE_DISPLAY_UNDER) {
      margin-left: -24px;
      margin-right: -24px;
    }
  }

  // Re-apply the padding (for both situations: card no padding AND content cancel margin)
  .card-padded-content {

    padding: 24px 16px;

    @media (min-width: $MOBILE_DISPLAY_UNDER) {
      padding: 24px;
    }
  }

}


// material helper classes /////////////////////
///////////////////////////////////////////////


////////////////////////////////////////////////
// Material CDK classes ////////////////////////

// Hint: sibling HTML element to app-root is created for these

.cdk-overlay-container{

  // example: see wrapper component's popup toolbar menus
  .toolbar-menus{

    &.mat-menu-panel{
      min-width:200px;
    }

    .toolbar-header{
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 0;
    }

    .toolbar-footer{
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      padding: 8px 0;
      border-top-style: solid;
      border-top-width:1px;
    }

    .mat-menu-content{
      padding-top:0px;
      padding-bottom:0px;
    }

    .mat-list{
      padding-top: 0px;

      .toolbar-menu-item{

        font-size: 14px;
        font-weight: 600;


        &:not(.disabled){
          cursor: pointer;
        }

        &:disabled{

        }

        &:not(:last-child){
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }

        .mat-line{
          .sub {
            font-size: 12px;
          }
        }

      }
    }
  }

}

// Material CDK classes ////////////////////////
///////////////////////////////////////////////

