@import '../../node_modules/@angular/material/theming';

@mixin general-theming($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  a{
    color: map-get($primary, default);
  }

  .warn{
    color: map-get($warn, default);
  }
}
